html,body {
	font-family:PT Sans;
}

.pictures_container {
	position:relative;
	width:300px;
	height:200px;
	display:inline-block;
	margin:20px;
	overflow:hidden;
}

.pictures_flare {
	position:absolute;
	bottom:0px;
	left:-50px;
	z-index:5000;
	opacity:0;
}

.pictures_description_container {
	width:100%;
	position:absolute;
	bottom:0px;
	left:0px;
	background:rgba(0,0,0,0.5);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
	z-index:3000;
	pointer-events:none;
}

.pictures_description {
	max-width:100%;
	margin:14px 20px;
	text-align:left;
	color:#ffffff;
}

.pictures_description p {
	font-size:15px;
	margin-bottom:6px;
}

.pictures_description span {
	font-size:11px;
	opacity:0.8;
}

.picture_colorizer {
	width:300px;
	height:200px;
	position:relative;
	opacity:1;
	transition:all 0.6s ease;
	cursor:pointer;
}

.picture_source:hover + .picture_colorizer {
	width:300px;
	height:200px;
	position:absolute;
	top:0px;
	left:0px;
	opacity:0;
	transition:all 0.6s ease;
}

.picture_source {
	width:300px;
	height:200px;
	overflow:hidden;
	position:absolute;
	top:0px;
	left:0px;
	mix-blend-mode: luminosity;
	z-index:1000;
	transition:all 0.6s ease;
	cursor:pointer;
}

.picture_source:hover {
	mix-blend-mode: normal;
}

.picture_source img {
	min-height:100%;
	min-width:100%;
	-webkit-filter: brightness(0.9) saturate(0);
	filter: brightness(0.9) saturate(0);
	-moz-filter: brightness(0.9) saturate(0);
	-o-filter: brightness(0.9) saturate(0);
	-ms-filter: brightness(0.9) saturate(0);
	transition:all 0.6s ease;
}

.picture_source:hover img {
	min-height:100%;
	min-width:100%;
	-webkit-filter: brightness(1.1) saturate(1);
	filter: brightness(1.1) saturate(1);
	-moz-filter: brightness(1.1) saturate(1);
	-o-filter: brightness(1.1) saturate(1);
	-ms-filter: brightness(1.1) saturate(1);
	transition:all 0.6s ease;
}